.xx-dropdown .xx-dropdown__menu {
  --xx-dropdown-menuItem-hover-fill: var(--xx-color-primary-light-9);
  --xx-dropdown-menuItem-hover-color: var(--xx-color-primary);
  --xx-dropdown-menuItem-disabled-color: var(--xx-border-color-lighter);
  --xx-dropdown-menuItem-divided-color: var(--xx-border-color-lighter);
}
.xx-dropdown {
  display: inline-block;
  .xx-tooltip {
    --xx-popover-padding: 5px 0;
  }
}
.xx-dropdown__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .xx-dropdown__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
    padding: 5px 16px;
    margin: 0;
    font-size: var(--xx-font-size-base);
    color: var(--xx-text-color-regular);
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: var(--xx-dropdown-menuItem-hover-fill);
      color: var(--xx-dropdown-menuItem-hover-color);
    }
    &.is-disabled {
      color: var(--xx-dropdown-menuItem-disabled-color);
      cursor: not-allowed;
      background-image: none;
    }
  }
  .divided-placeholder {
    margin: 6px 0;
    border-top: 1px solid var(--xx-dropdown-menuItem-divided-color);
  }
}
