:root {
  /* colors */
  /* 基础色板 */
  --xx-color-white: #ffffff;
  --xx-color-black: #000000;
  --colors: (
    primary: #5976BA,
    success: #9EBC19,
    warning: #ECD452,
    danger: #C8161D,
    info: #7A7B78
  );

  @each $val, $color in var(--colors){
    --xx-color-$(val): $(color);
    @for $i from 3 to 9 by 2 {
      --xx-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
    }
    --xx-color-$(val)-light-8: mix(#fff, $(color), .8);
    --xx-color-$(val)-dark-2: mix(#000, $(color), .2);
  }
  /* 中性色 */
  --xx-bg-color: #ffffff;
  --xx-bg-color-page: #f2f3f5;
  --xx-bg-color-overlay: #ffffff;

  --xx-text-color-primary: #2C2F3B;
  --xx-text-color-regular: #45465E;
  --xx-text-color-secondary: #6B798E;
  --xx-text-color-placeholder: #9AA7B1;
  --xx-text-color-disabled: #c0c4cc;

  --xx-border-color: #B2BFC3;
  --xx-border-color-light: #BDCBD2;
  --xx-border-color-lighter: #D4DDE1;
  --xx-border-color-extra-light: #EAEEF1;
  --xx-border-color-dark: #d4d7de;
  --xx-border-color-darker: #cdd0d6;

  --xx-fill-color: #f0f2f5;
  --xx-fill-color-light: #f5f7fa;
  --xx-fill-color-lighter: #fafafa;
  --xx-fill-color-extra-light: #fafcff;
  --xx-fill-color-dark: #ebedf0;
  --xx-fill-color-darker: #e6e8eb;
  --xx-fill-color-blank: #ffffff;

  /* 元素所需变量 */
  /* border */
  --xx-border-width: 1px;
  --xx-border-style: solid;
  --xx-border-color-hover: var(--xx-text-color-disabled);
  --xx-border: var(--xx-border-width) var(--xx-border-style) var(--xx-border-color);
  --xx-border-radius-base: 4px;
  --xx-border-radius-small: 2px;
  --xx-border-radius-round: 20px;
  --xx-border-radius-circle: 100%;

  /* font */
  --xx-font-size-extra-large: 20px;
  --xx-font-size-large: 18px;
  --xx-font-size-medium: 16px;
  --xx-font-size-base: 14px;
  --xx-font-size-small: 13px;
  --xx-font-size-extra-small: 12px;
  --xx-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --xx-font-weight-primary: 500;

  /* disabled */
  --xx-disabled-bg-color: var(--xx-fill-color-light);
  --xx-disabled-text-color: var(--xx-text-color-placeholder);
  --xx-disabled-border-color: var(--xx-border-color-light);

  /* animation */
  --xx-transition-duration: .3s;
  --xx-transition-duration-fast: .2s;
}